<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>35</Pages><Words>2817</Words><Characters>16058</Characters><Lines>133</Lines><Paragraphs>37</Paragraphs><TotalTime>0</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>18838</CharactersWithSpaces><Application>WPS Office WWO_feishu_20230531100529-62b4f7f279</Application><DocSecurity>0</DocSecurity></Properties>